* {
  font-weight: bold;
  color: darkorange;
}
/* 같은 선택자인 경우 뒤에 오는 것이 우선 순위가 높음 */
* {
  color: plum;
}
/*
  1. 이어지는 코드 두 개의 선택자가 같을 경우 뒤에 오는 코드가 우선 순위가 높은데,
  이상의 코드에서 첫번째는 font-weight가 적용되었지만, 두번째 style에는 font-weight 관련 스타일 지정이 없기 때문에

  결과적으로는

  첫번째 style의 font-seight와 두번째 style의 color가 적용되었음을 확인할 수 있음.

  이하에는 태그 선택자 작성

  태그 선택자
*/
/* p 태그에만 적용 */
p {
  color: olivedrab;
}
/*
  이상의 태그 선택자의 경우에는 *로 작성한 모든 요소보다 우선 순위를 가짐.

  이하에서 클래스 선택자 설명

  명시한 클래스를 CSS로 불러올 때는 마침표(.)를 입력하고 클래스명을 붙여줌.
  형식 :

  .클래스명 {}
*/
.blue {

  color: mediumblue;
}
/*
  <p> 태그든 <span> 태그든 클래스명이 blue로 지정돼있다면 전부 적용됐음을 확인할 수 있음.
  이상에서 알 수 있는 것 : 클래스 선택자는 태그 선택자보다 우선 순위를 가짐.

  클래스 선택자의 특징 :
    1) 태그 선택자보다 우선 순위
    2) 다른 선택자에 이어붙이는 것이 가능
      -> 해당 경우 선택자에 띄어쓰기 없이 마침표(.)를 입력한 후에 클래스명을 붙여주면 됨.
      -> 이상의 경우와 마찬가지로 더 구체적인 범위이므로 우선 순위가 적용됨.
*/
p.blue {  /* p 태그의 blue 클래스에 적용 */
  color: blue;
}

.blue.dark {  /* class 속성값이 blue인데다가 또 dark 클래스를 가지는 경우에 적용 */
  color: darkslateblue; 
}

p.blue.dark {
  color: darkblue;
}
/*
  57 - 59 라인의 경우는 해당하는 요소가 하나밖에 없지만, 오든 요소(*) mediumblue를 지정한 것과 <p> 태그에서 darkblue를 지정한 것 중에 우선 순위를 따지기 위해 포함시킴.

  구체적인 것이 우선 순위가 높다는 사실을 명심.

  결과적으로 darkblue가 적용됨.

  이하에서는 id 선택자에 대해 작성
*/
/* id 선택자 */
#red {
  color: tomato;
}
/*
  id는 고유한 값이므로 클래스보다 더 구체적으로 명시한다는 의미
  -> 우선 순위가 더 높다.
*/
/* 그룹 선택자 */
span, .dark, #red {
  text-decoration: underline;
}